apps/banks_app/wsdl/mts/BRK_RegisterReq.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mbrd="mbrd" targetNamespace="mbrd" id="ClientsList_Request">
	<!-- Импорт базовых типов -->
	<xsd:include schemaLocation="Include\clientData_strict.xsd"/>
	<xsd:include schemaLocation="Include\clientComplexData_strict.xsd"/>
	<xsd:include schemaLocation="Include\systemDictionaries.xsd"/>
	<xsd:include schemaLocation="Include\MTS\mts_Types.xsd"/>
	<xsd:include schemaLocation="Include\systemComplexTypes.xsd"/>
	<xsd:element name="requestMTS">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="mtsRequestId" type="xsd:string" nillable="false">
					<xsd:annotation>
						<xsd:appinfo>Идентификатор заявки в ПО КБ</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="messageId" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>Уникальный идентификатор сообщения (GUID)</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="messageType" type="mbrd:messageType" fixed="REGISTER_REQ_BRK">
					<xsd:annotation>
						<xsd:documentation>Тип сообщения</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="messageDateTime" type="xsd:dateTime">
					<xsd:annotation>
						<xsd:documentation>Дата время создания сообщения (ГГГГ-ММ-ДДTЧЧ:ММ:ССZ)</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SPName" type="mbrd:systemType">
					<xsd:annotation>
						<xsd:documentation>Код отправителя сообщения </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="MsgReceiver" type="mbrd:systemType">
					<xsd:annotation>
						<xsd:documentation>Код получателя сообщения</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="MTSPOSSpecificData" type="mbrd:MTSPOSSpecificDataType">
					<xsd:annotation>
						<xsd:documentation>Специфичные данные ПОС-заявки</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="request" type="mbrd:uploadDataRequestDataType">
					<xsd:annotation>
						<xsd:documentation>Корневой элемент документа </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ServerInfo" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="MsgType" type="mbrd:messageType" fixed="REGISTER_REQ_BRK"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="extRequestId" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Идентификатор заявки системы в Банке</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="isEDS" type="xsd:boolean" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Признак работы с клиента через цифровую подпись (аналог собственноручной подписи  - АСП) .
Возможное значение = true/false
</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="questionnaireType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Тип анкеты </xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="30"/>
							<xsd:enumeration value="SHORT"/>
							<xsd:enumeration value="FULL"/>
							<xsd:enumeration value="PART_FULL"/>
							<xsd:enumeration value="EXTRA_SHORT"/>
							<xsd:enumeration value="MIDDLE"/>
							<xsd:enumeration value="ADD_DATA"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="uploadDataRequestDataType">
		<xsd:annotation>
			<xsd:documentation>Тип для корневого элемента </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="serviceData">
				<xsd:annotation>
					<xsd:documentation>Блок служебной информации</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="initiatorCode" type="mbrd:systemType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Код системы, инициатора запроса. Значения системного справочника кодов информационных систем в файле /Include/systemDictionaries.xsd</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="sourceCode" type="mbrd:systemType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Код системы, выполняющей запрос</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="clientComplexData" type="mbrd:clientComplexDataSingleRequestType">
				<xsd:annotation>
					<xsd:documentation>Контейнер анкетных клиентских данных и заявок</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MTSPOSSpecificDataType">
		<xsd:annotation>
			<xsd:documentation>Данные передаваемые в рамках проекта MTS-POS</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="requestData" type="mbrd:MTSPOSRequestDataType"/>
			<xsd:element name="documents" type="mbrd:MTSPOSDocumentsDataType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MTSPOSRequestDataType">
		<xsd:annotation>
			<xsd:documentation>Специфичные данные заявки МТС</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="registrationDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Дата создания заявки в ПО КБ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="franchise_code" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Код торговой организации</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mts_pos_code" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Код торговой точки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mts_pos_reg_code">
				<xsd:annotation>
					<xsd:documentation>Код региона торговой точки</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="mts_pos_address">
				<xsd:annotation>
					<xsd:documentation>Адрес точки продажи кредита</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="kladr_reg_code">
				<xsd:annotation>
					<xsd:documentation>КЛАДР код региона, в котором расположена торговая точка</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="userCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Код агента, оформившего заявку</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="userFIO" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ФИО агента, заводившего заявку</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="userHashCard" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Hash номер карты сотрудника оформившего заявку</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="clientSegmentCode" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Составной код сегмента клиента</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mtsClientReliability" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Признак благонадежности клиента </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="mtsClientReliabilityComment" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Комментарий к признаку благонадежности клиента</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="initialPayment" nillable="false">
				<xsd:annotation>
					<xsd:documentation>Первоначальный взнос</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="summa_buy" type="mbrd:elemAmount">
				<xsd:annotation>
					<xsd:documentation>Сумма покупки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="purchases" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Покупки</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="purchase" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Покупка</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:all>
									<xsd:element name="purchaseCode">
										<xsd:annotation>
											<xsd:documentation>Код (артикул) товара</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="36"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="purchaseName">
										<xsd:annotation>
											<xsd:documentation>Наименование товара</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="512"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="purchaseCost">
										<xsd:annotation>
											<xsd:documentation>Стоимость (сумма)</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="purchaseQuantity" type="xsd:int">
										<xsd:annotation>
											<xsd:documentation>Количество товаров</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="IMEI" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Международный Идентификатор Мобильного Оборудования</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="15"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="purchaseMK" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Марка</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="purchaseModel" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Модель</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="manufacturer" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Производитель</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="serialNum" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Серийный номер</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="30"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="category" type="xsd:string">
										<xsd:annotation>
											<xsd:documentation>Категория товара</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="subCategory" type="xsd:string">
										<xsd:annotation>
											<xsd:documentation>Подкатегория товара</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="isMain" type="xsd:boolean" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Признак основного товара</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:all>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="discountPercent" type="xsd:decimal">
				<xsd:annotation>
					<xsd:documentation>Размер скидки (%)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="optimalLimit" type="mbrd:elemAmount" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Оптимальный лимит</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mtsRequestIdCrossSale" type="mbrd:mtsRequestId" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Идентификатор связанной заявки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="flagCrossSaleMainRequest" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Признак основной заявки (если есть связанная заявка)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="adjustmentResult" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Статус с результатом корректировки чека</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
</xsd:schema>