apps/banks_app/wsdl/pochta/AfterScoring/ATC_Broker_Application_PF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.siebel.com/xml/ATC%20Broker%20Application%20PF"
    xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
    xmlns:xsdLocal1="http://www.siebel.com/xml/ATC%20Broker%20Application%20PF">
    <xsd:annotation>
        <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel
            XSD Generation</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="ListOfBrokerApplicationPf" type="xsdLocal1:ListOfBrokerApplicationPf"/>
    <xsd:complexType name="ListOfBrokerApplicationPfTopElmt">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="ListOfBrokerApplicationPf"
                type="xsdLocal1:ListOfBrokerApplicationPf"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ListOfBrokerApplicationPf">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ApplicationPos"
                type="xsdLocal1:ApplicationPos"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ApplicationPos">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="ApplicationId" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ListOfOpportunityPf"
                type="xsdLocal1:ListOfOpportunityPf"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ListOfOpportunityPf">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="OpportunityPf"
                type="xsdLocal1:OpportunityPf"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OpportunityPf">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="OpptyFileNamePF" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OpptyFileSrcType" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OpptyFileBuffer" type="xsd:base64Binary"
            />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
